{
	admin off
	auto_https off
}

http://:8080 {
	root * /srv
	encode zstd gzip

	respond /health/live 200
	respond /health/ready 200

	header /_astro/* Cache-Control "public, max-age=31536000, immutable"
	header /snowball-* Cache-Control "public, max-age=604800"
	header /apple-touch-icon.png Cache-Control "public, max-age=604800"
	header X-Content-Type-Options nosniff

	handle_errors {
		rewrite * /404.html
		file_server
	}

	file_server
}
